@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base global (simple y sin romper layout) */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  @apply font-sans text-slate-900 antialiased bg-white;
}

/* Links por defecto (Tailwind ya lo maneja en los componentes) */
a {
  color: inherit;
  text-decoration: none;
}
